.activities-view {
  border-top: 2px solid @border;
  background-color: @light;

  h3 {
    padding: 0 0 0.3em 0;
    font-size: 120%;
    float: left;
    width: 75%;
    box-sizing: border-box;
  }

  .edit-widgets {
    width: 25%;
    box-sizing: border-box;
    text-align: right;
    float: left;

    a {
      color: @text;
      font-size: 1em;
      &:hover {
        color: @blue;
      }
    }
  }

  .dash {
    padding: 0.7em 0;
    margin: 0.1em 0.5em 0.5em 0.5em;

    ul {
      border-top: 1px solid @border;
    }

    li {
      font-size: 14px;
    }

    .location, .moving-time, .start-date {
      .orb-ui-widget;
      margin: 0.5em 0.5em 0.5em 0;
      display: inline-block;
      margin-right: 0.3em;
    }

    .max-speed, .average-speed, .elevation-gain, .distance {
      .block-ui-widget;
      margin: 0;
      width: 50%;
      box-sizing: border-box;
      display: inline-block;
      font-size: 16px;
    }
    .blocks {
      width: 100%;
      font-size: 0;
    }
  }
}

@media only screen and (min-width: @xl) {
  .activities-view {
    .dash {
      .max-speed, .average-speed, .elevation-gain, .distance {
        width: 25%;
      }
    }
  }
}

@media only screen and (max-width: @large) {
  .activities-view {
    .dash {
      .max-speed, .average-speed, .elevation-gain, .distance {
        width: 100%;
      }
    }
  }
}
