.activities {
  border-top: 2px solid #888;

  h3 {
    color: #aaa;
    padding: 0.3em;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    background: #555;
  }

  .dash {
    padding: 0.5em;

    li {
      // border: 1px solid #666;
      background-color: #aaa;
      color: #444;
      font-size: 14px;
      margin: 0.4em;
      width: 10em;
      text-align: center;
      h4 {
        border-bottom: 1px solid #666;
        background: #333;
        padding: 0.4em 0.3em;
        color: #aaa;
      }

      i {
        color: @orange;
        padding: 0 0.3em;
      }

      div {
        span {
          display: block;
          font-size: 20px;
        }
        padding: 0.5em 0.3em;
        font-family: courier, serif;
      }
    }

  }
}
