body.authenticate {
  background: url('/images/race-shot-bike.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.authenticate {
  text-align: center;
  color: #fff;

  h1 {
    font-size: 2.5em;
    background: rgba(0, 0, 0, 0.3);
    padding: 0.6em;
    maring: 0 0.3em;
    border-radius: 0.6em;
  }


  p {
    background: rgba(0, 0, 0, 0.3);
    padding: 0.5em;
    border-radius: 0.7em;
    display: inline-block
  }
}

@media only screen and (min-width: @max-width) {
  body.authenticate .page{
    border: 0;
  }
}
