body {
  font-family: Arial, sans-serif;
  color: #fff;
}

a {
  color: #888;
  text-decoration: none;
}

a:hover, a.active, a:active {
  color: @orange;
}

h1, h2, h3 {
  font-weight: 200;
  margin: 0;
  padding: 0;
}