body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: @base-font;
}

a {
  color: @link;
  text-decoration: none;
}

svg path {
  fill: #000;
  stroke: #000;
}

a:hover, a.active, a:active {
  color: @orange;
}

a:hover svg path, a.active svg path, a:active svg path {
  fill: @orange;
  stroke: @orange;
}

h1, h2, h3, h4 {
  font-weight: 200;
  margin: 0;
  padding: 0;
}