input, button {
  background: @base;
  color: @link;
  padding: 1em;
  border-radius: 0.7em;
  border: 3px @border solid;
  font-size: 14px;
}

input:focus, button:focus {
  outline: none;
  border-color: @orange;
}

button:hover {
  cursor: pointer;
}

.simple-button {
  color: @base;
  display: block;
  margin: 0 auto;
  padding: 1.0em;
  border: 0;
  background: @orange;
  border-radius: 1.3em;
  width: 50%;
  margin: 1.5em auto;

  &:focus {
    border-color: none;
  }

  &:hover {
    background-color: @dark-orange;
  }

  i {
    padding-right: 0.6em;
  }
}