input, button {
  background: #eee;
  color: #333;
  padding: 1em;
  border-radius: 0.7em;
  border: 3px #888 solid;
  font-size: 14px;
}

input:focus, button:focus {
  outline: none;
  border-color: @orange;
}
