.profile-page {
  color: #888;
  text-align: center;

  .basic-info {
    padding: 0.6em 0.5em;
  }

  h2 {
    font-size: 2.5em;
    color: #aaa;
  }

  .controls {
    float: right;
    color: #888;
    font-size: 20px;
    padding: 3.5em 0.5em;
    text-align: center;
    a {padding: 0 0.6em}

    i {display: inline-block;}
    .clearboth;
  }

  .picture {
    display: block;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: 1.5em auto;
    height: auto;
    border: 0.2em solid @border;
  }

  .logout:hover {
    color: @orange;
  }
}

@media only screen and (min-width: @mid) {
  .profile-page {
    .picture {
      width: 12em;
      height: 12em;
    }
  }
}
