@min-width: 300px;
@max-width: 1200px;

body {
  margin: 0;
  padding: 0;
  background: #444;
}

.page {
  margin: 0 auto;
  min-width: @min-width;
  max-width: @max-width;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  .display-user-menu {
    font-size: 1.5em;
  }

  .display-user-menu:hover {
    color: @button-hover;
  }

  nav {
    background: #333;
    border-bottom: 2px solid #666;
    width: 100%;

    i {
      font-size: 24px;
    }

    span {
      display: block;
    }

    li {
      float: left;
      width: 25%;
      padding: 1em 0;
      text-align: center;
    }

    a {
      color: #fff;
      width: 4.5em;
      height: 2.5em;
      padding: 1.0em 0;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    .clearboth;
  }
}

@chart-height: 3em;

.mileage-list {
  h2 {
    display: inline-block;
    margin-bottom: 0.5em;
  }

  .gear-specs {
    float: right;
    .clearboth;

    span {
      font-size: 12px;
      color: #888;
      padding: 0.4em;
    }
  }

  li {
    padding: 2em;
    margin: 1em 0;
    border-bottom: 1px #666 solid;

    .chart {
      background: #666;
      border: 3px solid #888;
      height: @chart-height;
      border-radius: 2em;
    }

    .chart-text {
      position: absolute;
      padding: 1em;
    }

    .bar {
      background: @orange;
      height: @chart-height;
      display: block;
      min-width: 3em;
      border-radius: 2em;

      i {
        float: right;
        padding: 0.5em;
        font-size: 24px;
      }
    }

    .delete, .edit {
      padding: 1em 1em 0 0;
      display: inline-block;
    }
  }
}

.profile-page {
  color: #888;

  .basic-info {
    float: left;
    padding: 3.4em 0.5em;
  }

  h2 {
    font-size: 40px;
  }

  .controls {
    float: left;
    color: #888;
    font-size: 20px;
    padding: 3.5em 0.5em;
    text-align: center;
    a {padding: 0 0.6em}

    i {display: inline-block;}
  }

  .picture {
    float: left;
    display: inline-block;
    border-radius: 50%;
    margin: 1.5em;
    width: 8em;
    height: auto;
  }

  .logout:hover {
    color: @orange;
  }
}

.more-list {
  a {
    text-decoration: none;
    font-size: 24px;
    padding: 1.5em;
    display: block;
    color: #aaa;
    border-bottom: 1px solid #666;
  }

  a:hover, a:active {
    color: @orange;
  }

  i {
    margin-right: 1em;
  }
}

.connect, .login {
  padding: 2em 0;
  color: #888;
  font-size: 12px;

  h1 {
    color: #aaa;
    font-size: 18px;
  }

  h1, p {
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
    padding: 2em 0 1em 0;
  }
}

.login {
  width: 70%;
  margin: 0 auto;

  input[type=text], input[type=password] {
    margin: 1em auto;
    display: block;
    width: 93%;
  }
}
