<div class="headline">
  <h2>Login</h2>
</div>
<form class="create edit session-create-edit">
  <fieldset>
    <label for="username" class="control-label">Username:</label>
    <input name="username" type="text">
    <label for="password" class="control-label">Password:</label>
    <input name="password" type="password">
    <button>Login</button>
  </fieldset>
</form>
