<div class="profile-page">
  <img src="{{profile_picture}}" class="picture">
  <div class="basic-info">
    <h2>{{username}}</h2><span>{{first_name}} {{last_name}}</span>
  </div>
  <div class="controls">
    <a href="#profile/edit" class="edit">
      <i class="fa fa-pencil-square-o"></i>
      Edit
    </a>
    <a href="#logout" class="logout">
      <i class="fa fa-sign-out"></i>
      Logout
    </a>
  </div>
</div>