<div class="signup">
  <form>
    <h1>Signup for Mileage</h1>
    <label for="username" class="control-label">Username</label>
    <input type="text" name="username">
    <label for="password" class="control-label">Password</label>
    <input type="password" name="password">
    <button type="submit">Signup</button>
  </form>
</div>
