/* line 1, /Users/kahnjw/Documents/strava_mileage/app/styles/less/transitions.less */
.fade-page.back {
  position: absolute;
  top: 0px;
  opacity: 0;
  z-index: 0;
}
/* line 8, /Users/kahnjw/Documents/strava_mileage/app/styles/less/transitions.less */
.fade-page.front {
  position: relative;
  top: 0px;
  opacity: 1;
  z-index: 10;
}
/* line 15, /Users/kahnjw/Documents/strava_mileage/app/styles/less/transitions.less */
.fade-page {
  transition: opacity 250ms ease;
}
/* line 2, /Users/kahnjw/Documents/strava_mileage/app/styles/less/mixins.less */
.clearafter:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 14, /Users/kahnjw/Documents/strava_mileage/app/styles/less/mixins.less */
.clearbefore:before {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 14, /Users/kahnjw/Documents/strava_mileage/app/styles/less/mixins.less */
.clearboth:before {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 2, /Users/kahnjw/Documents/strava_mileage/app/styles/less/mixins.less */
.clearboth:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 29, /Users/kahnjw/Documents/strava_mileage/app/styles/less/mixins.less */
.circle-background {
  border-radius: 50%;
  background-color: #f73308;
}
/* line 4, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
body {
  margin: 0;
  padding: 0;
  background: #444;
}
/* line 10, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.page {
  margin: 0 auto;
  min-width: 300px;
  max-width: 1200px;
}
/* line 16, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 23, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
header .display-user-menu {
  font-size: 1.5em;
}
/* line 27, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
header .display-user-menu:hover {
  color: #3a97e8;
}
/* line 31, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
header nav {
  background: #333;
  border-bottom: 2px solid #666;
  width: 100%;
}
/* line 36, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
header nav i {
  font-size: 34px;
}
/* line 40, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
header nav span {
  display: block;
}
/* line 44, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
header nav li {
  float: left;
  width: 25%;
  padding: 1em 0;
  text-align: center;
}
/* line 51, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
header nav a {
  color: #fff;
  width: 4.5em;
  height: 2.5em;
  padding: 1.0em 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/* line 14, /Users/kahnjw/Documents/strava_mileage/app/styles/less/mixins.less */
header nav:before {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 2, /Users/kahnjw/Documents/strava_mileage/app/styles/less/mixins.less */
header nav:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 68, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.mileage-list h2 {
  display: inline-block;
  margin-bottom: 0.5em;
}
/* line 73, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.mileage-list .gear-specs {
  float: right;
}
/* line 14, /Users/kahnjw/Documents/strava_mileage/app/styles/less/mixins.less */
.mileage-list .gear-specs:before {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 2, /Users/kahnjw/Documents/strava_mileage/app/styles/less/mixins.less */
.mileage-list .gear-specs:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 77, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.mileage-list .gear-specs span {
  font-size: 12px;
  color: #888;
  padding: 0.4em;
}
/* line 84, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.mileage-list li {
  padding: 2em;
  margin: 1em 0;
  border-bottom: 1px #666 solid;
}
/* line 89, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.mileage-list li .chart {
  background: #666;
  border: 3px solid #888;
  height: 3em;
  border-radius: 2em;
}
/* line 96, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.mileage-list li .chart-text {
  position: absolute;
  padding: 1em;
}
/* line 101, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.mileage-list li .bar {
  background: #f73308;
  height: 3em;
  display: block;
  min-width: 3em;
  border-radius: 2em;
}
/* line 108, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.mileage-list li .bar i {
  float: right;
  padding: 0.5em;
  font-size: 24px;
}
/* line 115, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.mileage-list li .delete,
.mileage-list li .edit {
  padding: 1em 1em 0 0;
  display: inline-block;
}
/* line 122, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.profile-page {
  color: #888;
}
/* line 125, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.profile-page .basic-info {
  float: left;
  padding: 3.4em 0.5em;
}
/* line 130, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.profile-page h2 {
  font-size: 20px;
  color: #aaa;
}
/* line 135, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.profile-page .controls {
  float: right;
  color: #888;
  font-size: 20px;
  padding: 3.5em 0.5em;
  text-align: center;
}
/* line 141, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.profile-page .controls a {
  padding: 0 0.6em;
}
/* line 143, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.profile-page .controls i {
  display: inline-block;
}
/* line 14, /Users/kahnjw/Documents/strava_mileage/app/styles/less/mixins.less */
.profile-page .controls:before {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 2, /Users/kahnjw/Documents/strava_mileage/app/styles/less/mixins.less */
.profile-page .controls:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 147, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.profile-page .picture {
  float: left;
  display: inline-block;
  border-radius: 50%;
  margin: 1.5em;
  width: 8em;
  height: auto;
}
/* line 156, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.profile-page .logout:hover {
  color: #f73308;
}
/* line 162, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.more-list a {
  text-decoration: none;
  font-size: 24px;
  padding: 1.5em;
  display: block;
  color: #aaa;
  border-bottom: 1px solid #666;
}
/* line 171, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.more-list a:hover,
.more-list a:active {
  color: #f73308;
}
/* line 175, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.more-list i {
  margin-right: 1em;
}
/* line 180, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.connect,
.login,
.signup {
  padding: 2em 0;
  color: #888;
  font-size: 12px;
}
/* line 185, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.connect h1,
.login h1,
.signup h1 {
  color: #aaa;
  font-size: 18px;
}
/* line 190, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.connect h1,
.login h1,
.signup h1,
.connect p,
.login p,
.signup p {
  text-align: center;
}
/* line 194, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.connect img,
.login img,
.signup img {
  display: block;
  margin: 0 auto;
  padding: 2em 0 1em 0;
}
/* line 201, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.login,
.signup {
  width: 70%;
  margin: 0 auto;
}
/* line 205, /Users/kahnjw/Documents/strava_mileage/app/styles/less/screen.less */
.login input[type=text],
.signup input[type=text],
.login input[type=password],
.signup input[type=password] {
  margin: 1em auto;
  display: block;
  width: 93%;
}
/* line 1, /Users/kahnjw/Documents/strava_mileage/app/styles/less/fonts.less */
body {
  font-family: Arial, sans-serif;
  color: #fff;
}
/* line 6, /Users/kahnjw/Documents/strava_mileage/app/styles/less/fonts.less */
a {
  color: #888;
  text-decoration: none;
}
/* line 11, /Users/kahnjw/Documents/strava_mileage/app/styles/less/fonts.less */
a:hover,
a.active,
a:active {
  color: #f73308;
}
/* line 15, /Users/kahnjw/Documents/strava_mileage/app/styles/less/fonts.less */
h1,
h2,
h3,
h4 {
  font-weight: 200;
  margin: 0;
  padding: 0;
}
/* line 1, /Users/kahnjw/Documents/strava_mileage/app/styles/less/forms.less */
input,
button {
  background: #eee;
  color: #333;
  padding: 1em;
  border-radius: 0.7em;
  border: 3px #888 solid;
  font-size: 14px;
}
/* line 10, /Users/kahnjw/Documents/strava_mileage/app/styles/less/forms.less */
input:focus,
button:focus {
  outline: none;
  border-color: #f73308;
}
/* line 16, /Users/kahnjw/Documents/strava_mileage/app/styles/less/forms.less */
.simple-button:focus {
  border-color: #888;
}
/* line 19, /Users/kahnjw/Documents/strava_mileage/app/styles/less/forms.less */
.simple-button:hover {
  border-color: #f73308;
}
/* line 25, /Users/kahnjw/Documents/strava_mileage/app/styles/less/forms.less */
.simple-button i {
  padding-right: 0.6em;
}
/* line 1, /Users/kahnjw/Documents/strava_mileage/app/styles/less/activity-console.less */
.activities {
  border-top: 2px solid #888;
}
/* line 4, /Users/kahnjw/Documents/strava_mileage/app/styles/less/activity-console.less */
.activities h3 {
  color: #aaa;
  padding: 0.3em;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  background: #555;
}
/* line 12, /Users/kahnjw/Documents/strava_mileage/app/styles/less/activity-console.less */
.activities .dash {
  padding: 0.5em;
}
/* line 15, /Users/kahnjw/Documents/strava_mileage/app/styles/less/activity-console.less */
.activities .dash li {
  background-color: #aaa;
  color: #444;
  font-size: 14px;
  margin: 0.4em;
  width: 10em;
  text-align: center;
}
/* line 23, /Users/kahnjw/Documents/strava_mileage/app/styles/less/activity-console.less */
.activities .dash li h4 {
  border-bottom: 1px solid #666;
  background: #333;
  padding: 0.4em 0.3em;
  color: #aaa;
}
/* line 30, /Users/kahnjw/Documents/strava_mileage/app/styles/less/activity-console.less */
.activities .dash li i {
  color: #f73308;
  padding: 0 0.3em;
}
/* line 35, /Users/kahnjw/Documents/strava_mileage/app/styles/less/activity-console.less */
.activities .dash li div {
  padding: 0.5em 0.3em;
  font-family: courier, serif;
}
/* line 36, /Users/kahnjw/Documents/strava_mileage/app/styles/less/activity-console.less */
.activities .dash li div span {
  display: block;
  font-size: 20px;
}
